<!DOCTYPE html>
{% extends "fifth_app/base.html" %}

    {% load staticfiles %}

    {% block title %}Login Page{% endblock %}

    {% block body %}
        <div class="jumbotron">
            <h1>Please Login</h1>
            <form action="{% url 'fifth_app:user_login' %}" method="POST">
                {% csrf_token %}
<!--
                <label for"username">Username:</label>
-->
                <input type="text" name="username" placeholder="Enter Username">

<!--
                <label for"password">Password:</label>
-->
                <input type="password" name="password" placeholder="Password">

                <input type="submit" value="Login">
            </form>
        </div>
    {% endblock %}